.woman__main {
  padding: 15px;
}

.heading-and-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}

.heading-and-filter label,
.heading-and-filter select {
  display: none;
}

.filter-and-sort__button {
  color: #fff;
  background-color: #0a3641;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
}

.more-pages {
  text-align: center;
  font-size: 0.9em;
  margin: 20px 0px 30px 0px;
}

#filter-button-desktop {
  display: none;
}
