body {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
  font-size: 1em;
  color: #333333;
  margin: 0;
}

.top-section {
  background-color: #0a3641;
  text-align: center;
  font-size: 0.7em;
  color: #fff;
  margin: 0;
  padding: 7px 0px 9px 0px;
  height: 15px;
}

.top-section p,
.product p,
.copyright p,
.subscribe p {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.logo img {
  width: 130px;
}

.logo-and-icons {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.search-field-wider-screens,
.shopping-cart-desktop,
.my-account-desktop {
  display: none;
}

.fa-search,
.fa-shopping-cart,
.fa-user {
  margin: 0 8px;
}

nav {
  display: none;
  position: fixed;
  top: 110px;
  background-color: #fff;
  z-index: 1000;
  right: 0px;
  text-align: right;
}

nav li {
  padding: 10px 30px 10px 30px;
  display: block;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

h1,
h2,
nav,
.specific-product__price {
  font-family: "Unica One", "Trebuchet MS", sans-serif;
  font-weight: 400;
}

h1 {
  color: #0a3641;
  font-size: 1.7em;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 1.2em;
}

header i {
  color: #005c66;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#nav__links {
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h4,
nav ul,
.cta,
.product__first-word,
.breadcrumbs {
  text-transform: uppercase;
}

.main-categories img,
.subcategories img,
.new-arrivals img,
.woman__main img,
.thumbnails img,
.specific-product__main img {
  width: 100%;
}

.breadcrumbs p {
  padding: 0px;
  margin: 0px;
}

.breadcrumbs {
  color: #005c66;
  margin: 15px 0px 5px 0px;
  padding-left: 15px;
  font-size: 0.7em;
}

.main-categories__section {
  position: relative;
  z-index: 1;
}

.main-categories__section {
  margin-bottom: 7px;
}

.main-categories__cta {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-align: center;
}

.subcategories,
.new-arrivals {
  margin: 30px 0px;
}

.subcategories h2,
.new-arrivals h2 {
  margin-top: 0px;
  padding: 0px;
}

.new-arrivals h2 {
  margin-bottom: 0px;
}

.subcategories div,
.new-arrivals div,
.woman__main div {
  padding: 15px 15px 0px 15px;
}

.new-arrivals-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 0px;
  padding: 0px;
}

.new-arrivals img,
.woman__main img {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.product {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.product__colour-info {
  font-size: 0.8em;
}

.subscribe {
  background-color: #fff6cc;
  padding: 30px 15px;
  margin: 0px;
  text-align: center;
}

.subscribe__input {
  margin-top: 30px;
}

.subscribe label {
  font-size: 0.7em;
  margin-right: 5px;
}

.subscribe input,
#search {
  border-radius: 5px;
  border: solid 1px #707070;
  padding: 7px;
  width: 220px;
}

input::placeholder {
  color: #666666;
  font-style: italic;
  font-size: 0.7em;
}

.subscribe a {
  display: block;
  width: 100px;
  margin: 10px auto;
}

footer {
  background-color: #0a3641;
  color: #fff;
  margin: 0px;
  padding: 15px;
  font-size: 0.9em;
}

.footer-main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-main-section i {
  margin-right: 10px;
  font-size: 2em;
}

.copyright {
  margin: 35px 0px 10px 0px;
  text-align: center;
  font-style: italic;
}

.socialmedia-handle {
  display: inline;
}

/* Links */
a {
  text-decoration: none;
  color: #333333;
}

#nav__links a {
  color: #0a3641;
}

.cta {
  background-color: #ffd000;
  padding: 3px 10px;
  margin: 10px 0px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #333333;
  font-weight: 700;
}

.cta:hover {
  text-decoration: underline;
  background-color: #fff6cc;
}

.green-arrow-link {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
  font-size: 1.2em;
}

.green-link,
.green-arrow-link {
  color: #5aa864;
  font-weight: 700;
  font-style: italic;
}

.green-link {
  font-size: 0.9rem;
}

footer a {
  color: #fff;
}

.product__first-word {
  font-weight: 700;
}

.product a:hover {
  color: #999999;
}

/* All jackets page */
.heading-and-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.heading-and-filter p {
  display: none;
}

.heading-and-filter a {
  color: #fff;
  background-color: #0a3641;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
}

.heading-and-filter a:hover {
  text-decoration: underline;
}

.more-pages {
  text-align: center;
  font-size: 0.9em;
  margin: 20px 0px 30px 0px;
}

/* Specific jacket page */
.thumbnails img {
  border: solid 1px #cccccc;
}

.thumbnails {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: row;
}

.thumbnails > * {
  flex: 1;
}

.specific-product__main h1 {
  padding: 15px;
  display: inline;
}

.specific-product__price {
  display: inline;
  color: #005c66;
  font-size: 1.7em;
  text-align: right;
}

.product-description {
  margin: 0px;
  padding: 15px 15px 0px 15px;
}

.stars {
  color: #005c66;
  padding: 15px;
}

.size-text {
  padding: 15px;
}

.specific-product__cta {
  margin: 15px;
}

.stars p,
.stars span {
  margin: 0px 10px;
}

.stars p {
  display: inline;
}

.chosen-color-text {
  padding: 15px 0px 6px 15px;
  margin: 0px;
}

.color-circles {
  display: flex;
  padding-left: 15px;
  gap: 10px;
  align-items: center;
}

.color-circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.color-circle-active {
  border: solid 4px #333333;
}

.color-circle-ombre-blue {
  background-color: #6e8fa5;
}

.color-circle-antler {
  background-color: #855851;
}

@media (min-width: 600px) {
  .main-categories,
  .subcategories {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .main-categories > *,
  .subcategories > * {
    flex: 1;
  }

  .subcategories h2 {
    font-size: 1.1em;
  }

  .subcategories,
  .new-arrivals {
    margin: 15px 0px;
  }

  .new-arrivals,
  .woman__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .new-arrivals-heading,
  .heading-and-filter {
    grid-column: -1/1;
  }
}

@media (min-width: 800px) {
  header {
    display: block;
    padding: 10px 0px;
  }

  header label {
    display: none;
  }

  .header__icons {
    display: none;
  }

  .search-label {
    display: inline;
  }

  .search-field-wider-screens,
  .shopping-cart-desktop,
  .my-account-desktop {
    display: inline;
  }

  .shopping-cart-and-my-account {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 160px;
  }

  .shopping-cart-desktop,
  .my-account-desktop {
    font-size: 0.7em;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .logo-and-icons {
    padding: 0px 10px;
  }

  .logo-and-icons label {
    margin-left: 5px;
    font-size: 0.7em;
  }

  nav {
    display: block;
    position: static;
    text-align: left;
    border-top: solid 2px #5aa864;
    margin: 10px 0px 0px 0px;
  }

  nav li {
    display: inline-block;
    padding: 10px 30px 0px 10px;
  }

  nav ul {
    margin: 0px;
  }

  h1 {
    font-size: 2.2em;
  }

  .cta {
    border-radius: 7px;
    font-size: 1.5em;
    padding: 3px 20px;
  }

  .subcategories h2 {
    font-size: 1.2em;
  }

  .subcategories,
  .new-arrivals {
    margin: 30px 0px;
  }

  .new-arrivals,
  .woman__main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .new-arrivals {
    margin: 30px 0px 60px 0px;
  }

  .woman__main {
    margin: 10px 0px 0px 0px;
  }

  .more-pages {
    margin: 10px 0px 40px 0px;
  }

  .subscribe {
    padding: 50px 0px 60px 0px;
  }

  .subscribe a {
    display: inline;
    margin-left: 8px;
  }

  .subscribe p {
    display: inline;
    font-size: 1.5em;
  }

  .subscribe label {
    font-size: 1em;
  }

  .subscribe input {
    padding: 14px;
  }

  .subscribe input::placeholder {
    font-size: 1em;
  }

  .footer-main-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .top-section {
    height: 20px;
  }

  .logo-and-icons {
    max-width: 1000px;
    padding: 0px;
    margin: auto;
  }

  .top-section,
  .logo-and-icons label,
  .shopping-cart-desktop,
  .my-account-desktop {
    font-size: 0.9em;
  }

  .logo img {
    width: 180px;
  }

  .shopping-cart-and-my-account {
    max-width: 210px;
  }

  input::placeholder {
    font-size: 1em;
  }

  nav {
    font-size: 1.4em;
  }

  .subcategories h2,
  h2 {
    font-size: 1.5em;
  }

  .new-arrivals,
  .woman__main {
    gap: 20px;
  }

  .new-arrivals {
    margin: 30px auto 60px auto;
  }

  .woman__main {
    margin: 30px auto 30px auto;
  }

  .more-pages {
    margin: 0px 0px 40px 0px;
  }

  .new-arrivals-heading,
  .heading-and-filter {
    margin-bottom: 10px;
  }

  .product img {
    margin-bottom: 4px;
  }

  .footer-main-section,
  .new-arrivals,
  .subcategories,
  .main-categories,
  .woman__main,
  .breadcrumbs {
    max-width: 1000px;
  }

  .subcategories {
    margin: 30px auto;
  }

  .subcategories div,
  .new-arrivals div,
  .woman__main div {
    padding: 0px;
  }

  .footer-main-section,
  .main-categories {
    margin: auto;
  }

  .breadcrumbs {
    margin: 15px auto 5px auto;
  }
}
