body {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
  font-size: 1em;
  color: #333333;
  margin: 0;
}

.top-section {
  background-color: #0a3641;
  text-align: center;
  font-size: 0.7em;
  color: #fff;
  margin: 0;
  padding: 7px 0px 9px 0px;
  height: 15px;
}

.top-section p {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.logo img {
  width: 130px;
}

.logo-and-icons {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.fa-search,
.fa-shopping-cart,
.fa-user {
  margin: 0 8px;
}

/*.fa-bars {
  margin-left: 8px;
}*/

nav {
  display: none;
  position: fixed;
  top: 110px;
  background-color: #fff;
  z-index: 1000;
  /*width: 22%;*/
  right: 0px;
  text-align: right;
}

nav li {
  padding: 10px 30px 10px 30px;
  display: block;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

h1,
h2,
nav {
  font-family: "Unica One", "Trebuchet MS", sans-serif;
  font-weight: 400;
}

h1 {
  color: #0a3641;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

header i {
  color: #005c66;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
  padding: 0px;
}

h1,
h2,
h4,
nav ul,
.cta,
.product__first-word {
  text-transform: uppercase;
}

.main-categories img,
.subcategories img,
.new-arrivals img {
  width: 100%;
}

.main-categories__section {
  position: relative;
  z-index: 1;
}

.main-categories__cta {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-align: center;
}

.subscribe {
  background-color: #fff6cc;
}

footer {
  background-color: #0a3641;
  color: #fff;
}

.socialmedia-handle {
  display: inline;
}

/* Links */
a {
  text-decoration: none;
  color: #333333;
}

.cta {
  background-color: #ffd000;
  padding: 3px 10px;
  margin: 10px 0px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #333333;
  font-weight: 700;
}

.cta:hover {
  text-decoration: underline;
  background-color: #fff6cc;
}

.green-link {
  color: #5aa864;
  font-weight: 700;
  font-style: italic;
}

footer a {
  color: #fff;
}

.product__first-word {
  font-weight: 700;
}

@media (min-width: 800px) {
  header label {
    display: none;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
    padding: 10px 0px 10px 20px;
  }
}
